# Ignore Composer dependency files
vendor

# Ignore Packages dependency files
node_modules

# Ignore IDE config files
nbproject/*
.idea
.buildpath
.project
.settings

# Ignore cache files from dev tools
.php-cs-fixer.cache
.twig-cs-fixer.cache
.phpunit.result.cache
