# Ignore Composer dependency files
vendor
composer.lock

# Ignore Packages dependency files
node_modules
package-lock.json

# Ignore IDE config files
nbproject/*
.idea
.buildpath
.project
.settings

# Ignore cache files from php cs fixer
.php-cs-fixer.cache
.twig-cs-fixer.cache
