{% extends '@AdminLTE/layout/layout-core.html.twig' %}
{% block body_sidebar %}
    <aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark">
        <!--begin::Sidebar Brand-->
        <div class="sidebar-brand">
            <!--begin::Brand Link-->
            {% include '@AdminLTE/Partials/_logo.html.twig' with {placement: 'sidebar'} %}
            <!--end::Brand Link-->
        </div>
        <!--end::Sidebar Brand-->
        <!--begin::Sidebar Wrapper-->
        <div class="sidebar-wrapper" data-overlayscrollbars="host">
            <div class="os-size-observer">
                <div class="os-size-observer-listener"></div>
            </div>
            <div class="" data-overlayscrollbars-viewport="scrollbarHidden overflowXHidden overflowYScroll" tabindex="-1" style="margin-right: -16px; margin-bottom: -16px; margin-left: 0px; top: -8px; right: auto; left: -8px; width: calc(100% + 16px); padding: 8px;">
            <nav class="mt-2">
                <!--begin::Sidebar Menu-->
                {% if admin_lte_context.knp_menu.enable %}
                    {{ include('@AdminLTE/Sidebar/knp-menu.html.twig') }}
                {% else %}
                    {{ include('@AdminLTE/Sidebar/menu.html.twig', {adminlte_direct_include: true}) }}
                {% endif %}
                <!--end::Sidebar Menu-->
            </nav>
            </div>
            <div class="os-scrollbar os-scrollbar-horizontal os-theme-light os-scrollbar-auto-hide os-scrollbar-handle-interactive os-scrollbar-track-interactive os-scrollbar-cornerless os-scrollbar-unusable os-scrollbar-auto-hide-hidden" style="--os-viewport-percent: 1; --os-scroll-direction: 0;">
                <div class="os-scrollbar-track">
                    <div class="os-scrollbar-handle"></div>
                </div>
            </div>
            <div class="os-scrollbar os-scrollbar-vertical os-theme-light os-scrollbar-auto-hide os-scrollbar-handle-interactive os-scrollbar-track-interactive os-scrollbar-visible os-scrollbar-cornerless os-scrollbar-auto-hide-hidden" style="--os-viewport-percent: 0.4288; --os-scroll-direction: 0;">
                <div class="os-scrollbar-track">
                    <div class="os-scrollbar-handle"></div>
                </div>
            </div>
        </div>
        <!--end::Sidebar Wrapper-->
    </aside>
{% endblock %}