{% extends '@AdminLTE/layout/base-skeleton.html.twig' %}
{% block body %}
<div class="app-wrapper">
    <!--begin::Header-->
    {% block body_header %}{% endblock %}
    <!--end::Header-->
    <!--begin::Sidebar-->
    {% block body_sidebar %}{% endblock %}
    <!--end::Sidebar-->
    <!--begin::App Main-->
    <main class="app-main" id="main" tabindex="-1">
        <!--begin::App Content Header-->
        {% block body_content_header %}{% endblock %}
        <!--end::App Content Header-->
        <!--begin::App Content-->
        {% block body_content %}{% endblock %}
        <!--end::App Content-->
    </main>
    <!--end::App Main-->
    <!--begin::Footer-->
    {% block body_content_footer %}{% endblock %}
    <!--end::Footer-->
    <div class="sidebar-overlay"></div>
</div>
{% endblock %}
