{% extends '@AdminLTE/layout/layout-header.html.twig' %}
{% block body_content_header %}
    <div class="app-content-header">
        <!--begin::Container-->
        <div class="container-fluid">
            <!--begin::Row-->
            <div class="row">
                <div class="col-sm-6">
                    <h1 class="mb-0">
                        {% block page_title %}{{ 'Admin LTE'|trans({}, 'AdminLTEBundle') }}{% endblock %}
                    </h1>
                    <p class="text-sm">{% block page_subtitle %}{{ 'A short subtitle for your page'|trans({}, 'AdminLTEBundle') }}{% endblock %}</p>
                </div>
                <div class="col-sm-6">
                    {% block breadcrumb %}
                        {% if admin_lte_context.knp_menu.enable %}
                            {{ include('@AdminLTE/Breadcrumb/knp-breadcrumb.html.twig') }}
                        {% else %}
                            {{ include('@AdminLTE/Breadcrumb/breadcrumb.html.twig', {adminlte_direct_include: true}) }}
                        {% endif %}
                    {% endblock %}
                </div>
            </div>
            <!--end::Row-->
        </div>
        <!--end::Container-->
    </div>
{% endblock %}